.navbar{
  width: 190vh;
  display : flex;
  justify-content : space-between;
  align-items : center;
  color: aliceblue;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.2);
}
.logo{
  width: 80px;
  max-width: 80px;
  height: 40px;
  margin-left: 10px;
}

.images{
  padding: 50px;
  margin-left: 23%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 25px);
  grid-template-rows: repeat(6, 25px);
  align-self: center;
}
.one{
  margin-top: 10px;
  width: 100px;
  height: 200px;
  border-radius: 5px;
  grid-row: 1 / 3;
  margin-right: 10px;
  margin-top: 50px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.two{
  width: 110px;
  height: 160px;
  border-radius: 5px;
  margin-left: 65px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.three{
  width: 105px;
  height: 190px;
  border-radius: 5px;
  margin-left: 140px;
  margin-top: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.four{
  width: 105px;
  height: 190px;
  border-radius: 5px;
  margin-left: 210px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.five{
  width: 105px;
  height: 190px;
  border-radius: 5px;
  margin-left: 280px;
  margin-top: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.six{
  width: 105px;
  height: 190px;
  border-radius: 5px;
  margin-left: 65px;
  margin-top: 125px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.seven{
  width: 105px;
  height: 190px;
  border-radius: 5px;
  margin-top: 175px;
  margin-left: 140px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.eight{
  width: 105px;
  height: 150px;
  border-radius: 5px;
  margin-top: 155px;
  margin-left: 210px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.nine{
  width: 105px;
  height: 190px;
  border-radius: 5px;
  margin-top: 175px;
  margin-left: 280px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.About{
  margin-left: 20px;
  margin-top: 150px;
  font-size: 20px;
  font-weight: bold;
}
.About p{
  font-size: 15px;
  font-weight: normal;
}
.ali{
  height: 250px;
  width: 220px;
  border-radius: 5%;
}
.product{
  
  margin-left: 20px;
  margin-top: 20px;
  width: 100vh;
  height: 100px;
}
.product-info :first-child {
    color: red;
}
.product-info :nth-child(2) {
    margin-left: 10px;
}
.product-info :nth-child(3) {
  color: darkgray;
}
.product-info :nth-child(4) {
  color: darkgray;
}
.dollar{
  font-weight: bold;
}
.cards{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 20px;
  width: 100vh;
  height: 100px;
  position: relative;
}
.badge{
  background-color: white;
  color: black;
  border-radius: 2px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 200;
  font: 1em sans-serif;
}